@font-face {
  font-family: Montserrat-Regular;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../../fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 800;
  font-size: normal;
}

.wrapper {
  width: 1920px;
  margin: 0 auto;
  color: #071232;
  position: relative;
}

/* =============== navigation ================== */

.logo {
  width: 180px;
  height: 40px;
  margin-top: 8px;
  margin: 8px 180px 0 0;
}

.nav {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 1872px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #ffffff;
  border: 1px solid #e6ebf4;
  padding: 10px 12px 0 32px;
}

.nav__links {
  list-style: none;
}

.nav__links > li {
  display: inline-block;
  margin-right: 3rem;
}

.active {
  color: #0082d1;
}

.nav__links > li > a {
  font-family: Montserrat-Regular;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #071232;
}

.nav__links > li > a:hover {
  color: #0082d1;
}

a {
  text-decoration: none;
}

.nav__bottons > button {
  width: 199px;
  height: 56px;
  border: none;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 14px 38px 14px 24px;
  cursor: pointer;
}

.nav_button_btc {
  background: #ffd100;
  border-radius: 32px;
  position: relative;
}

.nav_button_dollar {
  color: #ffffff;
  background: #0082d1;
  border-radius: 32px;
  position: relative;
}

.nav_button_btc > img {
  position: absolute;
}

.nav_button_btc:hover {
  background-color: #fde08c;
}

.nav_button_btc:focus {
  background: #e6ebf4;
  color: #60677a;
}

.nav_button_dollar > img {
  position: absolute;
}

.nav_button_dollar:hover {
  background-color: #5fb7fe;
}

.nav_button_dollar:focus {
  background: #e6ebf4;
  color: #60677a;
}

/* =============== ourBlog ================== */

.ourBlog {
  padding: 160px 360px 360px;
}

.ourBlog__title {
  font-family: Montserrat-SemiBold;
  text-align: center;
  font-size: 4.5rem;
  margin: 0 0 80px;
}
.ourBlogCard__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  margin-bottom: 32px;
}

.ourBlog__card > h3 {
  font-family: Montserrat-SemiBold;
  font-size: 24px;
  line-height: 32px;
}

.ourBlog__card > p {
  font-family: Montserrat-Regular;
  font-size: 20px;
  line-height: 28px;
}

.blog__date {
  font-size: 14px;
  line-height: 20px;
}

.ourBlog__button {
  text-align: center;
  width: 340px;
  height: 56px;
  color: #ffffff;
  background: #0082d1;
  border-radius: 40px;
  border: none;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
  margin: 0 auto;
}

.ourBlog__button-container {
  display: flex;
  justify-content: center;
}

.ourBlog__button:hover {
  background-color: #5fb7fe;
}

.ourBlog__button:focus {
  background: #e6ebf4;
  color: #60677a;
}

/* =============== contacts ================== */

.contacts {
  position: absolute;
  width: 1840px;
  height: 1016px;
  bottom: 624px;
  left: 40px;
  background: #e3f2fe;
  border-radius: 80px;
  padding: 160px 320px;
}

.contact__title {
  font-family: Montserrat-SemiBold;
  text-align: center;
  font-size: 4.5rem;
  margin: 0 0 80px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__container > div > h3 {
  font-family: Montserrat-SemiBold;
  font-size: 32px;
  line-height: 48px;
  padding-right: 236px;
}

.socialNetworks {
  display: flex;
  flex-direction: column;
}

.socialNetworks > img {
  margin-right: 16px;
}

.socialNetworks > a {
  margin-bottom: 28px;
  position: relative;
}

.socialNetworks > a > img {
  margin-right: 26px;
  position: absolute;
  top: -10px;
  left: -50px;
}

.socialNetwork__link {
  font-family: Montserrat-Regular;
  font-size: 20px;
  color: #071232;
  padding-bottom: 40px;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.input__container > label {
  padding-left: 27px;
  margin-bottom: 18px;
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #60677a;
}

.inputYourData {
  background: #f6f9ff;
  border: 1px solid #e6ebf4;
  border-radius: 32px;
  padding: 14px 24px;
  margin-bottom: 24px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  color: #071232;
  resize: none;
  outline: none;
}

.inputYourData:focus {
  border: 1px solid #0099fe;
}

.input__sendButton {
  text-align: center;
  width: 340px;
  height: 56px;
  color: #ffffff;
  background: #0082d1;
  border-radius: 40px;
  border: none;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
  margin: 0 auto;
  position: relative;
}

.input__sendButton:hover {
  background-color: #5fb7fe;
}

.input__sendButton:focus {
  background: #e6ebf4;
  color: #60677a;
}

.input__sendButton > img {
  position: absolute;
}

/* =============== fotter ================== */

.footer {
  padding: 924px 360px 80px;
  display: flex;
  justify-content: space-around;
}

.footer__column > h3 {
  font-family: Montserrat-SemiBold;
  line-height: 0;
  font-size: 32px;
  margin-bottom: 52px;
}

.footer__column > p > a {
  font-family: Montserrat-Regular;
  font-size: 20px;
  line-height: 28px;
  color: #071232;
  margin-bottom: 32px;
}

.footer__column > p > a:hover {
  color: #0099fe;
}
