/* * {
  border: 1px solid rgb(233, 104, 104);
} */

@font-face {
  font-family: Montserrat-Regular;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../../fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 800;
  font-size: normal;
}

.wrapper {
  width: 1920px;
  margin: 0 auto;
  color: #071232;
  position: relative;
}

.header {
  position: absolute;
  width: 1840px;
  height: 856px;
  left: calc(50% - 1840px / 2);
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f2fe;
  border-radius: 0 0 5rem 5rem;
}

/* =============== navigation ================== */
.logo {
  width: 180px;
  height: 40px;
  margin-top: 8px;
  margin: 8px 180px 0 0;
}

.nav {
  position: absolute;
  top: 24px;
  left: -16px;
  width: 1872px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #ffffff;
  border: 1px solid #e6ebf4;
  padding: 10px 12px 0 32px;
}

.nav__links {
  list-style: none;
}

.nav__links > li {
  display: inline-block;
  margin-right: 3rem;
}

.nav__links > li > a {
  font-family: Montserrat-Regular;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #071232;
}

.active {
  color: #0082d1;
}

.nav__links > li > a:hover {
  color: #0082d1;
}

a {
  text-decoration: none;
}

.nav__bottons > button {
  width: 199px;
  height: 56px;
  border: none;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 14px 38px 14px 24px;
  cursor: pointer;
}

.nav_button_btc {
  background: #ffd100;
  border-radius: 32px;
  position: relative;
}

.nav_button_dollar {
  color: #ffffff;
  background: #0082d1;
  border-radius: 32px;
  position: relative;
}

.nav_button_btc > img {
  position: absolute;
}

.nav_button_btc:hover {
  background-color: #fde08c;
}

.nav_button_btc:focus {
  background: #e6ebf4;
  color: #60677a;
}

.nav_button_dollar > img {
  position: absolute;
}

.nav_button_dollar:hover {
  background-color: #5fb7fe;
}

.nav_button_dollar:focus {
  background: #e6ebf4;
  color: #60677a;
}

/* =============== header-title ================== */

.header__container {
  text-align: center;
  font-family: Montserrat-SemiBold;
}

.header__title {
  font-size: 4.5rem;
  line-height: 6rem;
}

.header__sub-title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 20%;
  margin: 0 0 48px 0;
}

.header__container > button {
  width: 336px;
  height: 80px;
  border: none;
  border-radius: 40px;
  font-family: Montserrat-SemiBold;
  font-size: 1.5rem;
  line-height: 2rem;
  cursor: pointer;
}

.header__button-volunteer {
  background: #ffd100;
  margin: 0 48px 0 0;
}

.header__button-volunteer:hover {
  background-color: #fde08c;
}

.header__button-volunteer:focus {
  background: #e6ebf4;
  color: #60677a;
}

.header__button-findVolunteer {
  background: #0082d1;
  color: #ffffff;
}

.header__button-findVolunteer:hover {
  background-color: #5fb7fe;
}

.header__button-findVolunteer:focus {
  background: #e6ebf4;
  color: #60677a;
}

.header-decoration__img {
  position: absolute;
}

.ellipse-1 {
  height: 200px;
  width: 200px;
  left: 160px;
  top: 120px;
}

.ellipse-2 {
  height: 188px;
  width: 188px;
  left: 266px;
  top: 581px;
}

.ellipse-3 {
  height: 98px;
  width: 98px;
  left: 86px;
  top: 407px;
}

.ellipse-4 {
  height: 260px;
  width: 260px;
  left: 1496px;
  top: 536px;
}

.ellipse-5 {
  height: 142px;
  width: 142px;
  left: 1659px;
  top: 149px;
}

/* =============== partners ================== */
.main {
  padding: 952px 86px 0;
}
.partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 217px;
}

/* =============== whyVolunteer ================== */
.whyVolunteer__section {
  display: flex;
  padding: 0 274px;
  margin: 0 0 160px;
}

.volunteer__img {
  margin-right: 32px;
}

.whyVolunteer__title {
  font-family: Montserrat-SemiBold;
  font-size: 3rem;
  line-height: 4rem;
}

.whyVolunteer__sub-title {
  font-family: Montserrat-Regular;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
/* =============== whatWeDoing ================== */

.whatWeDoing {
  background: #212121;
  color: #ffffff;
  padding: 160px 360px 280px 360px;
}

.whatWeDoing__mainTitle {
  font-family: Montserrat-SemiBold;
  text-align: center;
  margin: 0 0 80px 0;
  font-size: 6.5rem;
}

.hatWeDoing__card-container {
}

.whatWeDoing__card {
  display: flex;
}

.whatWeDoingCard__title-number {
  font-family: Montserrat-Bold;
  font-size: 6rem;
  line-height: 7.5rem;
  margin: 0;
}

.whatWeDoingCard__title {
  font-family: Montserrat-SemiBold;
  font-size: 3rem;
  line-height: 4rem;
  padding: 0 170px 0 0;
}

.whatWeDoingCard__sub-title {
  font-family: Montserrat-Regular;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0 170px 0 0;
}

.whatWeDoingCard__img {
  margin: 0 0 80px 0;
}

/* =============== ourProjects ================== */

.ourProjects {
  position: absolute;
  width: 1840px;
  height: 1872px;
  top: 5060px;
  left: 40px;
  background: #e3f2fe;
  border-radius: 80px;
  padding: 160px 320px 184px;
}

.ourProjects__title {
  font-family: Montserrat-SemiBold;
  text-align: center;
  font-size: 4.5rem;
  margin: 0 0 80px;
}

.ourProjectsCard__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 56px;
}

.ourProjects__card-title {
  font-family: Montserrat-SemiBold;
  font-size: 32px;
  line-height: 48px;
}

.ourProject__card-subTitle {
  font-family: Montserrat-regular;
  font-size: 20px;
  line-height: 28px;
  padding-right: 40px;
  margin: 0 0 24px;
}

.ourProject__button_volunteer {
  width: 271px;
  height: 56px;
  background: #ffd100;
  border-radius: 40px;
  border: none;
  padding: 14px 24px 14px 16px;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
  margin-right: 16px;
}

.ourProject__button_volunteer:hover {
  background-color: #fde08c;
}

.ourProject__button_volunteer:focus {
  background: #e6ebf4;
  color: #60677a;
}

.ourProject__button_partner {
  width: 271px;
  height: 56px;
  color: #ffffff;
  background: #0082d1;
  border-radius: 40px;
  border: none;
  padding: 14px 24px 14px 16px;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
}

.ourProject__button_partner:hover {
  background-color: #5fb7fe;
}

.ourProject__button_partner:focus {
  background: #e6ebf4;
  color: #60677a;
}

/* =============== howYouCanHelp ================== */

.howYouCanHelp {
  padding: 1832px 40px 0;
}

.howYouCanHelp__main-title {
  font-family: Montserrat-SemiBold;
  text-align: center;
  font-size: 4.5rem;
  margin: 0 0 80px;
}

.howYouCanHelp__card {
  padding: 104px 474px;
  text-align: center;
}

.howYouCanHelp__card {
  border-radius: 40px;
  margin-bottom: 40px;
}

.howYouCanHelp__card > h3 {
  font-family: Montserrat-SemiBold;
  font-size: 48px;
  line-height: 64px;
}

.howYouCanHelp__card > p {
  font-family: Montserrat-regular;
  font-size: 24px;
  line-height: 32px;
}

.howYouCanHelp__card > button {
  width: 336px;
  height: 80px;
  border: none;
  border-radius: 40px;
  font-family: Montserrat-SemiBold;
  font-size: 1.5rem;
  line-height: 2rem;
  cursor: pointer;
}

.bgColorGreen {
  background: #ccffce;
}

.bgColorBlue {
  background: #e3f2fe;
}

.bgColorYellow {
  background: #fffdcc;
  position: absolute;
  width: 1840px;
}

/* =============== ourBlog ================== */

.ourBlog {
  margin-top: 428px;
  background: #212121;
  color: #ffffff;
  padding: 320px 360px;
}

.ourBlog__title {
  font-family: Montserrat-SemiBold;
  text-align: center;
  font-size: 4.5rem;
  margin: 0 0 80px;
}
.ourBlogCard__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  margin-bottom: 32px;
}

.ourBlog__card > h3 {
  font-family: Montserrat-SemiBold;
  font-size: 24px;
  line-height: 32px;
}

.ourBlog__card > p {
  font-family: Montserrat-Regular;
  font-size: 20px;
  line-height: 28px;
}

.blog__date {
  font-size: 14px;
  line-height: 20px;
}

.ourBlog__button {
  text-align: center;
  width: 340px;
  height: 56px;
  color: #ffffff;
  background: #0082d1;
  border-radius: 40px;
  border: none;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
  margin: 0 auto;
}

.ourBlog__button-container {
  display: flex;
  justify-content: center;
}

.ourBlog__button:hover {
  background-color: #5fb7fe;
}

.ourBlog__button:focus {
  background: #e6ebf4;
  color: #60677a;
}
/* =============== contacts ================== */

.contacts {
  position: absolute;
  width: 1840px;
  height: 1016px;
  bottom: 624px;
  left: 40px;
  background: #e3f2fe;
  border-radius: 80px;
  padding: 160px 320px;
}

.contact__title {
  font-family: Montserrat-SemiBold;
  text-align: center;
  font-size: 4.5rem;
  margin: 0 0 80px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__container > div > h3 {
  font-family: Montserrat-SemiBold;
  font-size: 32px;
  line-height: 48px;
  padding-right: 236px;
}

.socialNetworks {
  display: flex;
  flex-direction: column;
}

.socialNetworks > img {
  margin-right: 16px;
}

.socialNetworks > a {
  margin-bottom: 28px;
  position: relative;
}

.socialNetworks > a > img {
  margin-right: 26px;
  position: absolute;
  top: -10px;
  left: -50px;
}

.socialNetwork__link {
  font-family: Montserrat-Regular;
  font-size: 20px;
  color: #071232;
  padding-bottom: 40px;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.input__container > label {
  padding-left: 27px;
  margin-bottom: 18px;
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #60677a;
}

.inputYourData {
  background: #f6f9ff;
  border: 1px solid #e6ebf4;
  border-radius: 32px;
  padding: 14px 24px;
  margin-bottom: 24px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  color: #071232;
  resize: none;
  outline: none;
}

.inputYourData:focus {
  border: 1px solid #0099fe;
}

.input__sendButton {
  text-align: center;
  width: 340px;
  height: 56px;
  color: #ffffff;
  background: #0082d1;
  border-radius: 40px;
  border: none;
  font-family: Montserrat-SemiBold;
  font-size: 1.25rem;
  margin: 0 auto;
  position: relative;
}

.input__sendButton:hover {
  background-color: #5fb7fe;
}

.input__sendButton:focus {
  background: #e6ebf4;
  color: #60677a;
}

.input__sendButton > img {
  position: absolute;
}

/* =============== fotter ================== */

.footer {
  padding: 924px 360px 80px;
  display: flex;
  justify-content: space-around;
}

.footer__column > h3 {
  font-family: Montserrat-SemiBold;
  line-height: 0;
  font-size: 32px;
  margin-bottom: 52px;
}

.footer__column > p > a {
  font-family: Montserrat-Regular;
  font-size: 20px;
  line-height: 28px;
  color: #071232;
  margin-bottom: 32px;
}

.footer__column > p > a:hover {
  color: #0099fe;
}
